<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <link rel="stylesheet" href="/styles/main.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>decisionMAKER... Results Page</title>



</head>
<body>
  <%- include('partials/_header') %>
<p></p>
<p></p>

    <h1>Active Polls</h1>
    <h1><a href="/create">Create a Poll</a></h1>

    <section id="pollDetails">
      <!-- Dynamic display of poll information -input by the the creator of the poll -->


    </section>

    <section>

      <table class="table">
        <thead>
          <tr>
            <th>Poll Name</th>
            <th>Opens At</th>
            <th>Closes At</th>
            <th>Poll Active</th>
            <th>Vote</th>
          </tr>
        </thead>
        <tbody>
          <% authorized.forEach((poll, index) => { %>
            <tr class="default-row">
              <td class="choice-cell">
                <p><a href="/results/<%= poll.uuid %>"><%= poll.poll_name %></a></p>
              </td>

              <td>
                <p><%= poll.opens_at %></p>
              </td>
              <td>
                <p><%= poll.closes_at %></p>
              </td>
              <td class="<%= poll.poll_active ? 'poll-status-true' : 'poll-status-false' %>">
                <p><%= poll.poll_active ? 'Yes' : 'No' %></p>
              <td class="add-row">
                <p><a href="/vote/<%= poll.uuid %>">Vote</a></p>
              </td>


              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </section>
    <section>

      <h1>Inactive Polls</h1>

 </section>
    <section>
      <table class="table">
        <thead>
          <tr>
            <th>Poll Name</th>
            <th>Created At</th>
            <th>Closes At</th>
            <th>Poll Active</th>
            <th>Vote</th>
          </tr>
        </thead>

        <tbody>
          <% formattedInactiveAuthorized.forEach((poll, index) => { %>
            <tr class="default-row">
              <td class="choice-cell">
                <p><a href="/results/<%= poll.uuid %>"><%= poll.poll_name %></a></p>
              </td>

              <td>
                <p><%= poll.opens_at %></p>
              </td>
              <td>
                <p><%= poll.closes_at %></p>
              </td>
              <td class="<%= poll.poll_active ? 'poll-status-true' : 'poll-status-false' %>">
                <p><%= poll.poll_active ? 'Yes' : 'No' %></p>
              <td class="add-row">
                <p><a href="/vote/<%= poll.uuid %>">Vote</a></p>
              </td>


              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>


    </section>





</body>
</html>
